@media screen and (max-width: 960px){
    .client-block {
        max-width: 429px;
        margin: 0 auto;
    }
    .slider_right {
        right: 70px;
    }
    .slider_left {
        left: 70px;
    }

    .feedback_block {flex-direction: column;}
    .feedback_right-info {padding-left: 0px;}

}


@media screen and (max-width: 1087px){

    .itemheader {
        color: #54585A;
        padding-left: 13px;
    }
    .client-block {
        max-width: 429px;
        margin: 0 auto;
    }
    .slider_right {
        right:-6%;
    }
    .slider_left {
        left: -6%;
    }
    .cll2{display: none;}

    .compimg {
        right: 30px;
        top: 80px;
        width: 310px;
    }
    .main_info {
        max-width: 659px;
    }
    .phone, .shedule{
        font-size: 12px;
    }
    .itemheader {
        font-size: 12px;
    }
    .get_call {

        margin-right: 0px;
        font-size: 12px;
    }
    .header_top,.header_bottom{
        padding:10px;
    }
    .mail_icon{font-size: 12px;}

    .mail_icon::before {
        position: absolute;
        left: 8px;
        content: url(../img/mail.svg);
        height: 17px;
        top: 50%;
        transform: translate(0px, -68%);
    }
.shedule_dots{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15px;
}
.shedule::before {
    position: absolute;
    left: 8px;
    content: url(../img/dot.svg);
    height: 19px;
    top: 50%;
    transform: translate(0, -50%);
}
.bottom_main-b_info{flex-direction: column;}
.btns_socandcall {
    margin-top: 32px;
    align-self: start;
    display: flex;
    gap: 24px;
    padding-left: 46px;
}
.container_section {

    padding-left: 71px;
    padding-right: 71px;
}
.about_content p {
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.drop1 {
    flex-direction: column;
}

.services_name{
    padding-bottom: 16px;
}

.project-item:nth-child(3){display: none;}
.ourproject_list {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.solveyp_item{    max-width: 31%;}
.solveyp_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.wh_list-item span{width: 100%;}
.blowh1 {
    width: 31%;
    height: 218px;
    color: #ffffff;
}
.wh_list{gap:14px;}
.pric_header{font-size: 20px;}
.pric-text p{font-size: 14px;}
.imgblow1 img{height: 100%;}
.feedback_blur{width: 50%;}
.blur_15 {
    position: absolute;
    left: 21%;
    width: 50%;
    top: 320px;
    z-index: -1;
}
.pric-text {
    max-width: 417px;
}
.prich_det{font-size: 14px;}
.determ_name-price{font-size: 16px;}

.prich_block-price{width: 180px;}
}


@media screen and (max-width: 753px) {
    
    .shedule_dots{display: none;}
    .shedule_dots.sh1{display: block; 
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        top: unset;
    }
    .menu-btn {
        display: block;
    }
    .menu_site, .search{display: none;}
}
@media screen and (max-width: 953px) {

    .header_he1 {
        max-width: 75%;
        color: #ffffff;
        font-size: 48px;
    }
    .container_main {

        padding-left: 0px;
    }
    .compimg {
        right: 30px;
        top: 80px;
        width: 208px;
        
    }
    .bookimg {
        right: 37px;
        top: 217px;
        width: 111px;
    }
    
    .shedule_dots{display: none;}
    .shedule_dots.sh1{display: block; 
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        top: unset;
    }
    .menu-btn {
        display: block;
    }
    .menu_site, .search{display: none;}
}

@media screen and (max-width: 765px){
    .mail_icon::before {left:0px}
    .items_footer-ssylk a {font-size: 10px;}
    .footer-itemfirst {
        margin-right: 0px;
    }
    .news_list-item:nth-child(3) {display: none;}
    .pric-text {
        max-width: 52%;
    }
    .container_main, .main_info{padding: 9px;}
    .header_he1 {
        max-width: 79%;
    
    }
    .compimg{top:400px;}
    .bookimg{top: 535px;}
    .line2{bottom: 0px;}
    .line1 {
        bottom: -20px;
        right: 4px;}

        .nrows {
            display: flex;
            gap: 0px;
            margin-top: 40px;
            flex-direction: column;
        }

        .solveyp_list{justify-content: center;} .solveyp_item {max-width: 45%;}.whywe{display: none;}

        .prichinyblock .container_section {padding: 9px;padding-top: 115px;}

        .prich_item {flex-direction: column;}
        .pric-text {
            max-width: 100%;
        }
        .determ_name-price , .prich-price{text-align: left;}
        .prich_block-price{margin-top: 12px;}
        .d_block{height: 168px;}
        .dir_img {width: 133px;}
        .dir_info {
            margin-left: 136px;
        }.dir_y2 h2{font-size: 18px;} .dir_y2 p {font-size: 12px;}

 .directors_block .container_section {padding: 9px; padding-top: 115px;}
        .bookdir_pn {
            position: absolute;
            right: -7px;
            bottom: -19px;
            width: 87px;
        }

        .blurdir_pn{height: 169px;} .dir_info > svg {
            position: absolute;
            height: 168px;
        }
        .dir_btns .prich_det, .dir_btns .ju7{font-size: 16px;}
        .dir_btns {
            margin-top: 33px;
        }

        .article_header, .article_descr{font-size: 12px;}

        .article-item{height: auto;}
.get_projects{right: 9px;}
        .articles .container_section{padding: 9px; padding-top: 115px;}

        .article_info{padding-top: 9px;}
        .article-item > img {
            border-radius: 8px;
            width: 30%;
        }
        .article_btn-a{}

        .feedback .container_section{padding: 9px; padding-top: 115px;}
}


.itemheader:hover{
    color:#0FB5E9;
}
.cll2{
color: #54585A;
}

@media screen and (max-width: 581px){

.feedback_header{font-size: 38px;}
.compimg {
    right: 30px;
    width: 145px;
    top: 77%;
}
.header_he1 {
    max-width: 92%;
}
.bookimg{
    top: 84%;    width: 81px;
}
.blur2{display: none;}
.btns_socandcall,.timing_info{padding-left: 9px;}
.timing_info-years, .timing_info-days{font-size: 42px;}
.dir_btns {
    margin-top: 33px;
    display: flex;
    margin-left: -100px;
}.newsb1 .header_sec {max-width: 233px;}
.mail_icon {
    font-size: 10px;
}
.phone, .shedule{font-size: 10px;}
.dir_info > svg {
    position: absolute;
    height: 125px;
}
.slider_right {
    right: -11%;
}
.priceslist .container_section , .whatdoing .container_section, .ourproject .container_section, .solveblock .container_section{padding: 9px; padding-top: 115px;}
.ourproject .header_sec{max-width: 180px;}

.solveblock .container_section {padding-top: 30px;}

.names_clients h3{font-size: 17px;}
.review-client_text{font-size: 14px;}
.names_clients span{font-size: 8px;}
.blur_ig{height: 100%;}
.solveyourp .container_section{padding: 9px; padding-top: 115px;}
.solveyp_item p, .solveyp_item a{font-size: 12px;}.ju7,.ju5 {font-size: 13px;}

.btn_call{    padding: 18px 16px;}

.prich_bottom-btns {
    display: flex;
    gap: 12px;
    justify-content: center;
}
.dir_y2 h2 {
    font-size: 16px;
}
.bookdir_pn {
    position: absolute;
    right: -7px;
    bottom: -19px;
    width: 11%;
}

.blurdir_pn {
    height: 126px;
}
.dir_y2 p, .dir_phoe {
    color: #ffffff;
    margin-top: 8px;
    display: block;
}
.dir_img {
    width: 100px;
}
.dir_y2 {
    padding: 15px;
}
.d_block {
    height: 126px;
}
footer .container_section{padding: 9px; padding-top: 115px;}





.fiy53 {
    display: flex;
    gap: 34px;
    flex-direction: column;
}
.feedback_blur {
    width: 100%;
    top: 50%;
}

}


@media screen and (max-width: 443px){.dir_btns .prich_det , .dir_btns .ju7{font-size: 14px;width: 138px;left: 122px;} .dir_btns {z-index: 1000;
position: absolute;}}


@media screen and (max-width: 443px){.clients_talk-slider .slick-track{gap: 0px;} .slider_left{left:-18%;} .slider_right {
    right: -18%;
}.blur_9{z-index: -9;}


.shedule_dots.sh1{left: 33%;}.shedule::before{height: 14px;}

.header_top-right{display: none;}
} 


@media screen and (max-width: 401px) {
    .dir_btns {
        margin-top: 53px;
        display: flex;
        margin-left: -137px;
    }
    .dir_btns .prich_det, .dir_btns .ju7{width: 172px;}
    .dir_img {
        width: 138px;
    }.d_block {
        height: 174px;}.blurdir_pn {
            height: 173px;
        }
}





    @media screen and (min-width: 960px){.dir_f .bookdir_pn{ position: absolute;
        right: 26px;
        bottom: -30px;
        width: 130px;
        z-index: 233;}}
@media screen and (max-width: 960px){

.page .container_section {
    padding-left: 9px;
    padding-right: 9px;
}
.page .dir_btns .ju7 {
        margin-left: 8px;
        color: #000000;
    }
}
@media screen and (max-width: 480px){
    .menu-btn {margin-left: 2px;}
    .breadcrubm_item a , .breadcrubm_item span {
        
        font-size: 14px;
    }
    .page .directors_block .container_section{padding-top: 20px;}
    .page .workstage .container_section {padding-top: 15px;}.workstage_header {padding-top: 0px;}
.ws_left-block svg{width: 25px; height: 25px;}
    .page .header_bottom {border: none }
    .ws_left-block span{font-size: 26px;}
    footer .header_sec{font-size: 40px;}
    .workstage_list-item{gap: 10px}
    .ws_right-block{font-size: 10px;}

    .workstage_list{border: none}
    .workstage_list{padding-bottom: 10px;}
}

@media screen and (max-width: 480px){
    .order_name-complect{font-size: 10px;}
    .order_name-complect {
        font-size: 10px;
        max-width: 200px;
    }

.descr_n0{font-size: 12px;}


    .newspag1 .feedback_block {
        background: #1538B6;
        margin-top: 100px;
    }
    .newspag1 .container_section {padding-top: 15px;}
    .newspag1 .header_sec {font-size: 36px;}
    .detailnewshr {margin-top: 5px;}
    .text_news-right{padding: 10px; background-color: transparent}
    .img_news-left {width: 40%;}
    .text_news-right p{font-size: 10px;}
    .img_news-left img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }
    .detailnewshr{text-align: left;}


    .cart_icon{display: none}

    .callusblock_text {font-size: 10px;    padding: 10px;}
    .contacts_info-KL {gap: 9px}


    .mapandinfo {flex-direction: column;}
    .bottom_hrefs {
        display: flex;
        text-align: center;
        font-size: 10px;
        justify-content: center;
        gap: 12px;
    }
    .bottom_hrefs a{margin-left: 0; font-size: 10px;}
    .callusBlock .phone_icon::before {
        content: url(../img/phoneB.svg);
        height: 12px;
    }
    .nh7263 a , .mi3s{font-size: 12px;}

}


@media screen and (max-width: 480px){.table_prices-item{font-size: 10px; }.tg_users-for_btn{display: none;} .btn_prics > a{font-size: 12px;}}
@media screen and (max-width: 1087px){.table_prices-item{gap:10px} } 
@media screen and (max-width: 1095px){
    .services_item {
    width: 31.5%;
}
}



@media screen and (max-width: 640px){
.liop3{
    font-size: 10px;
}
.presetn-item{padding: 19px 8px;}
}



@media screen and (max-width: 602px){
    .list_services{gap: 10px}
    .services_item, .presetn-item{
        width: 48.5%;


    }

    .presentation_list{flex-wrap: wrap;}


    .serv_info h3{font-size: 12px;}
    .serv_info a {
        color: #ffffff;
        background-color: #0FB5E9;
        padding: 7px 38px;
        border-radius: 9px;
        display: inline-block;
        max-width: 158px;
    }

    .serv_info {
        padding: 9px 7px;}
}


@media screen and (max-width: 640px){


    .order-header {font-size: 18px;}


    .orderinfo {gap: 10px}

}


.asdasd{max-width: 400px;}
@media screen and (max-width: 1200px){

    .com_left-text {
  
        width: 60%;
    }
    .com_right-img{width: 35%;}
}

@media screen and (max-width: 480px){
    .newspag1 .header_sec{margin-top: 20px;}
    .text_company{margin-top: 0px;}
    .text_company {
       
        margin-bottom: 93px;}

   body .header_logo_in h2{font-size: 22px!important; max-width: 100%;} 
.compnay_big_he{font-size: 36px;}
.com_left-text {
  
    width: 60%;
}

.com_cart-header{
    font-size: 28px;
}body .uniq1ph{font-size: 12px;}
.com_part-info{gap:10px}
.com_right-img{width: 35%;}
.com_left-text {
    max-width: 498px; font-size: 10px;
}
    .text_company p{font-size: 10px;}

    .notec {
        position: absolute;
        right: -23px;
        bottom: -58px;
        width: 25%;
    }
    .cmko1 iframe {width: 100%;}
    .btn-sit{margin-bottom: 8px;}
    .header_logo_in h2{order: 2;}
    .header_logo_in{display: flex; flex-direction: column;}
    .header_logo_in img{order: 1;max-width: 98px;}
    .text_company{padding: 15px 20px;}

}

@media screen and (max-width: 660px){

    .reviews_list{flex-direction: column;}
    .review-item_left, .review-item_right {width: 100%;}
}


@media screen and (max-width: 480px){
 
    .btns_socandcall .btn_call {z-index: 111; position: relative;max-width: 256px;
        width: 68%;}
        .btn_social {
            align-self: center;
            display: flex;
            gap: 5px;
            flex: 0 0 auto;
        }
}


@media screen and (max-width: 413px){
 
    .btn_call{order: 2}
 .btn_social{order: 1}

 .btns_socandcall{flex-direction: column;}

 .btns_socandcall .btn_call {

    width: 255px;
    text-align: center;
}

.btn_social {
    order: 1;
    align-self: start;
}

.btns_socandcall{gap: 3px}

.bookimg {
    top: 86%;
    width: 74px;
}

.compimg {
    right: 30px;
    width: 133px;
    top: 79%;
}

}


.con7823{padding-top: 0px;}

@media screen and (max-width: 640px){


        .speakabouthe{ padding-left: 9px; padding-right: 9px;}

    .blur_9{display: none;}

    .aboutus1 .container_section{
        padding-left: 9px; padding-right: 9px;
    }

    .blur_17{display: none;}

    .news_list-item_info a{font-size: 12px;}
}


@media screen and (max-width: 450px){

.article-item > img {
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
}
.article-item{display: flex; flex-direction: column;}

.article_btn-a{font-size: 12px;}
}